<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdmins.login.mapper.LoginSysProgfuncsMapper">
    <sql id="Base_Column_List">
	ID,
	LAST_ID,
	MOD_ID,
	CAPTION,
	EXPLANATION,
	SYS_NUM,
	`PART`,
	SORT_NUM,
	CONTROLID,
	PATH_URL,
	COMPONENT_PATH,
	ADMIN_ADDRESS
</sql>
    <resultMap id="BaseResultMap" type="com.kdmins.login.pojo.SysProgfuncs">
    <!--@mbg.generated-->
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="LAST_ID" jdbcType="DECIMAL" property="lastId" />
    <result column="MOD_ID" jdbcType="DECIMAL" property="modId" />
    <result column="CAPTION" jdbcType="VARCHAR" property="caption" />
    <result column="EXPLANATION" jdbcType="VARCHAR" property="explanation" />
    <result column="SYS_NUM" jdbcType="DECIMAL" property="sysNum" />
    <result column="PART" jdbcType="VARCHAR" property="part" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CONTROLID" jdbcType="VARCHAR" property="controlid" />
    <result column="PATH_URL" jdbcType="VARCHAR" property="pathUrl" />
    <result column="COMPONENT_PATH" jdbcType="VARCHAR" property="componentPath" />
    <result column="ADMIN_ADDRESS" jdbcType="VARCHAR" property="adminAddress" />
  </resultMap>
  <insert id="insert" parameterType="com.kdmins.login.pojo.SysProgfuncs">
    <!--@mbg.generated-->
    insert into SYS_PROGFUNCS (ID, LAST_ID, MOD_ID, 
      CAPTION, EXPLANATION, SYS_NUM, 
      "PART", SORT_NUM, CONTROLID, 
      PATH_URL, COMPONENT_PATH, ADMIN_ADDRESS
      )
    values (#{id,jdbcType=DECIMAL}, #{lastId,jdbcType=DECIMAL}, #{modId,jdbcType=DECIMAL}, 
      #{caption,jdbcType=VARCHAR}, #{explanation,jdbcType=VARCHAR}, #{sysNum,jdbcType=DECIMAL}, 
      #{part,jdbcType=VARCHAR}, #{sortNum,jdbcType=DECIMAL}, #{controlid,jdbcType=VARCHAR}, 
      #{pathUrl,jdbcType=VARCHAR}, #{componentPath,jdbcType=VARCHAR}, #{adminAddress,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kdmins.login.pojo.SysProgfuncs">
    <!--@mbg.generated-->
    insert into SYS_PROGFUNCS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="lastId != null">
        LAST_ID,
      </if>
      <if test="modId != null">
        MOD_ID,
      </if>
      <if test="caption != null">
        CAPTION,
      </if>
      <if test="explanation != null">
        EXPLANATION,
      </if>
      <if test="sysNum != null">
        SYS_NUM,
      </if>
      <if test="part != null">
        "PART",
      </if>
      <if test="sortNum != null">
        SORT_NUM,
      </if>
      <if test="controlid != null">
        CONTROLID,
      </if>
      <if test="pathUrl != null">
        PATH_URL,
      </if>
      <if test="componentPath != null">
        COMPONENT_PATH,
      </if>
      <if test="adminAddress != null">
        ADMIN_ADDRESS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="lastId != null">
        #{lastId,jdbcType=DECIMAL},
      </if>
      <if test="modId != null">
        #{modId,jdbcType=DECIMAL},
      </if>
      <if test="caption != null">
        #{caption,jdbcType=VARCHAR},
      </if>
      <if test="explanation != null">
        #{explanation,jdbcType=VARCHAR},
      </if>
      <if test="sysNum != null">
        #{sysNum,jdbcType=DECIMAL},
      </if>
      <if test="part != null">
        #{part,jdbcType=VARCHAR},
      </if>
      <if test="sortNum != null">
        #{sortNum,jdbcType=DECIMAL},
      </if>
      <if test="controlid != null">
        #{controlid,jdbcType=VARCHAR},
      </if>
      <if test="pathUrl != null">
        #{pathUrl,jdbcType=VARCHAR},
      </if>
      <if test="componentPath != null">
        #{componentPath,jdbcType=VARCHAR},
      </if>
      <if test="adminAddress != null">
        #{adminAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-04-27-->
    <select id="getAll" resultMap="BaseResultMap">
        select
        *
        from SYS_PROGFUNCS
    </select>

</mapper>